body
{
    padding: 0;
    margin: 0;
}
h1
{
    font-family: 'Raleway', sans-serif;
    font-size: 500%;
    margin: 0;
}
h2
{
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
    margin: 0;
}
h3
{
    font-family: 'Raleway', sans-serif;

}
p
{
    font-family: 'Open Sans', sans-serif;
}
a
{
    color: white;
    text-decoration: none;
}
/*--------------------------------------------*/
header
{
    margin-top: 3%;
}
#bloc_header
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
#bandelette_bleu_head
{
    width: 100%;
    height: 10px;
    background-color: rgb(5, 35, 170);
}
#boutt_contact
{
    cursor: pointer;
    background-color: rgb(5, 35, 170);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(5, 35, 170);
    border-radius: 50px;
    width: 175px;
    height: 40px;
}
#img_profil
{
    background-image: url("fonds/photoprofil.png");
    width: 250px;
    height: 250px;
    border: 10px solid white;
    border-radius: 100%;
}
/*----------------------------------------------------*/
#bloc_competences
{
    margin-top: 3%;
    padding-bottom: 2%;
    width: 100%;
    height: auto;
    background-color: rgb(5, 35, 170);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titre
{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 300px;
    height: 75px;
    color: black;
}
#bloc_competences_lang
{
    margin-top: 30px;
    width: 600px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.barre_competences
{
    width: 300px;
}
/*-----------------------------------------------------*/
