body
{
    padding: 0;
    margin: 0;
}
h1
{
    font-family: 'Raleway', sans-serif;
    font-size: 400%;
    margin: 0;
}
h2
{
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
    margin: 0;
}
h3
{
    font-family: 'Raleway', sans-serif;

}
p
{
    font-family: 'Open Sans', sans-serif;
}
a
{
    color: white;
    text-decoration: none;
}
/*--------------------------------------------*/
header
{
    margin-top: 3%;
}
#bloc_header
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
.bandelette_bleu_head
{
    width: 100%;
    height: 10px;
    background-color: rgb(5, 35, 170);
}
#boutt_contact
{
    cursor: pointer;
    background-color: rgb(5, 35, 170);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(5, 35, 170);
    border-radius: 50px;
    width: 175px;
    height: 40px;
}
#img_profil
{
    background-image: url("fonds/photoprofil.png");
    width: 250px;
    height: 250px;
    border: 10px solid white;
    border-radius: 100%;
}
/*----------------------------------------------------*/
#bloc_competences
{
    margin-top: 5%;
    padding-bottom: 2%;
    width: 100%;
    height: auto;
    background-color: rgb(5, 35, 170);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titre
{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 300px;
    height: 75px;
    color: black;
}
#bloc_competences_lang
{
    margin-top: 30px;
    width: 600px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.barre_competences
{
    width: 300px;
    height: 100px;
}
/*-----------------------------------------------------*/
#bloc_experiences_formations
{
    margin-top: 5%;
    margin-left: 2%;
    width: 100%;
    height: auto;
    display: flex;
}
.bloc_forma_exp
{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-left: 15px solid rgb(5, 35, 170);
    border-radius: 15px;
}
.liseret_exp_form
{
    margin: 20px;
    padding: 0;
    width: 15px;
    border-radius: 10px;
    background-color: rgb(5, 35, 170);
}
/*---------------------------------*/
footer
{

    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3%;
}
#bloc_centre_interet
{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3%;
}
@media only screen and (max-width : 600px) 
{
    #bloc_header
    {
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
    }

    #bloc_competences
    {
        margin-top: 10%;
    }
    #bloc_competences_lang
    {
        width: 400px;
    }
    .barre_competences
    {
        width: 175px;
        height: 115px;
        margin-left: 10px;
        margin-right: 10px;
    }


    .bloc_forma_exp
    {
        width: 80%;
        margin-top: 5%;
    }
    #bloc_experiences_formations
    {
        display: flex;
        flex-direction: column;
    }

    #bloc_centre_interet
    {
        display: flex;
        flex-wrap: wrap;
    }
}