body
{
    padding: 0;
    margin: 0;
}
h1
{
    font-family: 'Raleway', sans-serif;
    font-size: 500%;
    margin: 0;
}
h2
{
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
    margin: 0;
}
h3
{
    font-family: 'Raleway', sans-serif;

}
p
{
    font-family: 'Open Sans', sans-serif;
}
a
{
    color: white;
    text-decoration: none;
}
/*--------------------------------------------*/
header
{
    margin-top: 3%;
}
#bloc_header
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
#bandelette_bleu_head
{
    width: 100%;
    height: 10px;
    background-color: rgb(5, 35, 170);
}
#boutt_contact
{
    cursor: pointer;
    background-color: rgb(5, 35, 170);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50px;
    width: 175px;
    height: 40px;
}
#img_profil
{
    background-image: url("fonds/photoprofil.png");
    width: 250px;
    height: 250px;
    border: 10px solid white;
    border-radius: 100%;
}
